:root {
  /* Colors */
  --accent-color: #4d5ae5;
  --main-color: #434455;
  --secondary-color: #2e2f42;
  --white-color: #fff;
  --cloud-color: #f4f4fd;
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  /* Others */
}

body {
  background-color: var(--white-color);
  color: var(--main-color);

  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #region Base */
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
address {
  font-style: normal;
}

/* Common */
/* #endregion */

/* #region Logo */
.logo {
  color: var(--accent-color);
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-color-dark {
  color: var(--secondary-color);
}

.logo-color-white {
  color: var(--cloud-color);
}
/* #endregion */

/* #region Header */

.header {
}

.header-nav {
}

.header-nav-list {
}
.nav-item {
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link {
  color: var(--secondary-color);

  font-weight: 500;
}
.header-adress {
}
.address-list {
}
.address-item {
}
.address-link {
  color: var(--main-color);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: var(--secondary-color);
}
.hero-title {
  color: var(--white-color);

  text-align: center;

  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  background: var(--accent-color);

  color: var(--white-color);

  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Benefits */

.benefits {
}

.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  color: var(--secondary-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-desc {
  color: var(--main-color);
}
/* #endregion */

/* #region Team */
.team {
  background-color: var(--cloud-color);
}
.team-title {
  color: var(--secondary-color);

  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-list {
}
.team-item {
  background-color: var(--white-color);
}
.team-img {
}
.team-subtitle {
  color: var(--secondary-color);

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-desc {
  color: var(--main-color);
  text-align: center;
}

/* #endregion */

/* #region Portfolio */
.portfolio {
}

.portfolio-title {
  color: var(--secondary-color);
  text-transform: capitalize;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
  color: var(--secondary-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-deck {
  color: var(--main-color);
}

/* #endregion */

/* #region Footer */
.footer {
  background-color: var(--secondary-color);
}
.footer-desc {
  color: var(--cloud-color);
}
/* #endregion */
