:root {
  /* Colors */
  --accent-color: #4d5ae5;
  --main-color: #434455;
  --secondary-color: #2e2f42;
  --white-color: #fff;
  --cloud-color: #f4f4fd;
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  /* Others */
}

body {
  background-color: var(--white-color);
  color: var(--main-color);

  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* #region Base */
/* Reset */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}
address {
  font-style: normal;
}

/* Common */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* #endregion */

/* #region Logo */
.logo {
  color: var(--accent-color);
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-right: 76px;
}

.logo-color-dark {
  color: var(--secondary-color);
}

.logo-color-white {
  color: var(--cloud-color);
}
/* #endregion */

/* #region Header */

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: inline-flex;
  gap: 40px;
}

.logo-heder {
  padding: 24px 0;
}
.nav-item {
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  color: var(--main-color);

  position: relative;
  padding: 24px 0;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list :first-child .nav-link {
  color: #404bbf;
}

.nav-link::after {
  content: '';
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: -1px;
  right: 0;

  border-radius: 2px;
  background: #404bbf;

  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.header-adress {
}
.address-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.address-item {
}
.address-link {
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region Hero */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero-bacground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 188px;
  padding-bottom: 188px;

  flex-shrink: 0;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;

  color: var(--white-color);

  text-align: center;

  /* Header 1 */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  display: block;
  margin: auto;
  flex-grow: 0;

  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--accent-color);

  color: var(--white-color);

  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Benefits */

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - (3 * 24px)) / 4);
}

.benefits-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;

  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;

  margin-bottom: 8px;
}

.benefits-icon {
  margin: 24px 100px;
}

.benefits-subtitle {
  color: var(--secondary-color);

  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-desc {
  color: var(--main-color);
}

/* #endregion */

/* #region Team */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud-color);
}

.container-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-title {
  color: var(--secondary-color);

  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}
.team-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);

  width: calc((100% - 3 * 24px) / 4);

  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-img {
}

.vrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.team-subtitle {
  color: var(--secondary-color);

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.team-desc {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg {
  /* : 12px; */
  fill: #f4f4fd;
}

/* #endregion */

/* #region Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: var(--secondary-color);
  text-transform: capitalize;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  display: flex;
  width: calc((100% - (24px * 2)) / 3);
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  border-right: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-left: 1px solid var(--CORNFLOWER, #e7e9fc);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-tumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover {
  z-index: 9;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}
.overlay-text {
  position: absolute;
  top: 0;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #4d5ae5;

  padding: 40px 32px;
  color: #f4f4fd;

  line-height: 1.5em;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
}

.vrapper-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: var(--secondary-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.portfolio-deck {
  color: var(--main-color);
}

/* #endregion */

/* #region Footer */
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--secondary-color);
  padding: 100px 0;
}

.footer-wrapper {
  margin-right: 120px;
}

.footer-desc {
  max-width: 264px;
  color: var(--cloud-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social {
  margin-right: 80px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-title {
  color: var(--white-color, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}
.footer-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
}
.footer-svg {
  width: 24px;
  height: 24px;

  fill: #f4f4fd;
}

.footer-social-link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
/************  ************/

.subscribe {
}
.footer-social-title {
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.footer-input::placeholder {
  padding-left: 16px;

  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.footer-submit-btn {
  border-radius: 4px;
  background-color: #4d5ae5;

  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 165px;

  color: var(--WHITE, #fff);
  text-align: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-btn-icon {
  stroke: white;
  margin-left: 16px;
}

/* #endregion */

/* #region  Modal*/
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 999;

  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: relative;

  max-width: 408px;
  height: 584px;
  flex-shrink: 0;
  padding: 72px 24px 24px 24px;

  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-icon {
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: rgba(64, 75, 191, 1);
  border: none;
}
.modal-btn:hover > .modal-button-icon,
.modal-btn:focus > .modal-button-icon {
  fill: rgba(255, 255, 255, 1);
}

.form-wraper {
  margin-bottom: 8px;
}

.modal-caption {
  margin-bottom: 16px;

  color: #2e2f42;
  text-align: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-btn {
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  width: 169px;

  color: var(--WHITE, #fff);
  text-align: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-label {
  display: block;
  position: relative;

  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.form-input {
  padding-left: 38px;

  width: 360px;
  height: 40px;
  flex-shrink: 0;
}

.form-input:checked .form-label-icon {
  fill: rgba(77, 90, 229, 1);
}

textarea {
  resize: none;
  width: 360px;
}

.form-label-icon {
  left: 16px;
  bottom: 11px;
  position: absolute;
}

.input-comment {
  color: var(--LIGHT-SLATE, #8e8f99);

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

textarea {
  padding: 8px 16px;

  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

input {
  display: block;
}
/************  ************/

.checkbox-wrapper {
  display: flex;
}

.new-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.icon-checkbox-click {
  stroke: black;
}

/************  ************/
.privacy-text {
  /* padding-top: 16px; */
  padding-bottom: 24px;

  color: var(--LIGHT-SLATE, #8e8f99);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.accent-Privacy {
  color: var(--IRIS, #4d5ae5);

  font-size: 12px;

  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
/* #endregion */
